:root{
    --base-color: #dfcba1;
    --secondary-color: #c4b390;
    --text-color: #611212;
    --button-bg-color:#331111;
    --button-fill-color: #882727;
  }

  img{
    border-radius: 15px;
    max-width: 380px;
    max-height: 380px;
  }

  h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
  }

  .vehicle{
    background-color: var(--secondary-color);
    padding: 1%;
    padding-bottom: 2%;
    border-radius: 15px;
    text-align: center;
  }

  .vehicle-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 150px;
    padding: 100px;
  }
